include LICENSE
include README.md
include .env.example
include CHANGELOG.md
include CONTRIBUTING.md

recursive-include src *.py
recursive-include src *.md
recursive-include src *.txt

recursive-include docs *.md
prune docs/migration-inventory.md
prune docs/migration-plan.md

recursive-include tests *.py

exclude .gitignore
exclude .gitattributes
prune .pytest_cache
prune *.egg-info
prune __pycache__
